/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 5:38:36 PM
    Author     : radib
*/

body {
	text-align: center;
}

#home-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 3vh;
	text-align: center;
}

#app-title {
	width: 60%;
	margin: 5% auto;
	display: inline-block;
}

.home-button {
    background: #f34e4a;
    color: #fff;
    padding: 1vh 4vw;
    width: 90%;
    margin: 0 5%;
    font-size: 7.5vw;
	display: inline-block;
	cursor: pointer;
}

#home-content .home-button:first-of-type {
    margin-bottom: 2vh;	
}

.home-button div:first-of-type {
    float: left;
	line-height: 11vh;
	vertical-align: middle;
}

.home-button div:nth-of-type(2) {
    float: right;
	line-height: 11vh;
	vertical-align: middle;
}

.home-button div:nth-of-type(2) img{
	width: 8vw;
}

#creators {
	color: #fff;
	font-weight: 500;
	font-size: 3vh;
}