/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2017, 10:48:05 PM
    Author     : radib
*/

img {
	width: 100%;
}

p {
	color: #666;
	padding: 2em;
	text-align: justify;
}

.current-page-heading {
	background: #f34e4a;
	color: #fff;
	padding: 0 3vw;
	line-height: 10vh;
}

.current-page-heading img {
	width: 8vw;
}

.current-page-heading a {
    display: inline-block;
    width: 8vw;
}

.current-page-heading span {
	margin-left: 4vw;
	font-size: 3vh;
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10, #testButton {
	display: none;
}

img {
    display: inline-block;
}