/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 5:43:22 PM
    Author     : radib
*/

.info-holder {
	background: #fff;
	border-radius: 10px;
	padding: 3vh;
	margin: 3vh;
}

.info-holder h1 {
	font-weight: bold;
	font-size: 5vw;
}

.info-holder p {
	font-size: 4.5vw;
	color: #666666;
    margin-bottom: 2vh;
}