/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 5:41:24 PM
    Author     : radib
*/
body {
	-webkit-overflow-scrolling: auto;
}

.info-line {
	background: #fff;
	padding: 2vw 4vw;
	border-radius: 10px;
    width: 84vw;
    margin: 0 1vw;
    text-align: left;
	line-height: 21px;
    position: absolute;
    top: 2vh;
}

.info-line img {
    margin-right: 2vw;
	width:6.5vw;
}


.red-button-box {
	background: #f34e4a;
	text-align: center;
	height: 13vh;
}

.red-button-box span {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
    margin-right: 8vw;
    font-size: 4vh;
	line-height: 13vh;
}

.red-button-box img {
	width: 6vh;
    margin-top: -2.1vh;
}

#map_canvas {
	width: 100%;
	height: 87vh;
	-webkit-overflow-scrolling: auto;
}