/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2017, 10:55:34 PM
    Author     : radib
*/


body {
	background: #fff;
}

a {
    display: block;
}

h1 {
	margin: 6vw 4vw;
	font-weight: bold;
	font-size: 6vw;
}

p {
	font-size: 4vw;
	margin: 0 4vw;
	text-align: justify;
	font-weight: normal;
}

.current-page-heading {
	background: #f34e4a;
	color: #fff;
	padding: 0 5vw;
	line-height: 10vh;
}

.current-page-heading img {
	margin-right: 2em;
	width: auto;
}

img {
	width: 100%;
}

.answers {
	margin-left: 4vw;
}

#question1, #question2, #question3, #question4, #question5, #question6, #question7, #question8 {
	display: none;
}