/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 8:45:36 PM
    Author     : radib
*/

body {
	background: #fff;
}

h1 {
	margin: 6vw 0vw;
	font-weight: bold;
	font-size: 4.5vw;
	color: #3fbb65;
	text-align: center;
}

p {
	font-size: 4vw;
	margin: 0 4vw;
	text-align: justify;
	font-weight: normal;
}

img {
	width: 120%;
	height: 51vh;
    margin-top: 0;
    margin-left: -7.5vw;
	display: block;
}

.continue {
    margin: 8vh auto;
    padding: 6vw;
    font-weight: bold;
    font-size: 8vw;
    text-align: center;
}

.continue img{
	width: 20vw;
	height: auto;
	display: inline-block;
	text-align: center;
}

.message {
	width: 60%;
	margin: 6vh auto;
}

.message-error {
	width: 60%;
	margin: 6vh auto;
}

.message-error p {
	text-align: center;
	margin:0;
}

#wrong-code {
	width: 100vw;
	height: 50vh;
	background: #f4f4f4;
	text-align: center;
}

#wrong-code img {
	width: 50vw;
    margin: 0;
    text-align: center;
    display: inline-block;
    height: 22vh;
    margin-top: 13vh;
}

.message-error h1 {
	color: #E23833;
}