/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2017, 6:22:57 PM
    Author     : radib
*/

body {
    background-image:url(../images/structure/background.jpg);
    background-position-x: center;
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

/*#place-info {
	text-align: center;
	margin: 24pt 24pt;
	color: #fff;
	font-size: 16pt;
	font-family: Roboto;
}*/

.pages-button {
	background: #f34e4a;
	color: #fff;
	border-radius: 20px;
	margin: 3vw 3vw;
	text-align: center;
	line-height: 7vh;
	text-transform: uppercase;
}

a {
	display: block;
}