/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2017, 5:13:45 PM
    Author     : radib
*/
.separator {
	margin: 3vh;
    width: 68.8vw;
    height: 0.1vh;
    background: #95989A;
}

.author_image {
	text-align: center;
}

.desc {
	margin: 3vh 0;
}

.creator img {
	width: 20vw;
}

.creator h1 {
	font-size: 5vw;
	margin:0;
	margin-bottom: 1vh;
}

.creator h3 {
	font-size: 3.5vw;
	margin: 0;
	color: #757575;
}

.links img {
	width: 8vw;
	margin-right: 3vh;
}

.links a:last-of-type {
	color: #000000;
    border: 0.3vw #95989A solid;
    border-radius: 110vw;
    padding: 1vh 2.5vh;
}

.creator:last-of-type {
	margin-bottom: 3vh;
}

.links a {
	display: inline-block;
}