/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2017, 8:45:36 PM
    Author     : radib
*/
body {
	background: #fff;
}

h1 {
	margin: 6vw 4vw;
	font-weight: bold;
	font-size: 6vw;
	color: #f15249;
}

p {
	font-size: 4vw;
	margin: 0 4vw;
	text-align: justify;
	font-weight: normal;
}

img {
	width: 50%;
    display: block;
    margin: 10vh auto;
    text-align: center;
}

.code-box {
    width: 90%;
    margin: 9vh auto;
    padding: 6vw;
    border: 1.2vw solid #f34e4a;
    font-weight: bold;
    font-size: 8vw;
    text-align: center;
}

.pages-button {
    background: #f34e4a;
    color: #fff;
    border-radius: 20vw;
    margin: 20vw 12vw;
    text-align: center;
    line-height: 9vh;
}